@keyframes blogTransition {
    0% {
        opacity: 0;
        transform: translateY(-500pt);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

article.blog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transform-origin: top;
    animation-name: blogTransition;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

article.blog figure.blog-image {
    width: 100%;
    height: 300pt;
    margin: 0;
}

article.blog hr {
    width: 100%;
}

.blog-header,
.blog-content {
    margin-inline: 0;
}

.blog-header {
    display: flex;
    flex-direction: column;
    gap: 10pt;
    padding-block: 15pt;

    & h1 {
        margin: 0;
        font-size: 2.0em;
    }

    & h3 {
        margin: 0;
        font-weight: normal;
        font-size: 1.2em;
    }
}

.blog-header .inline {
    display: flex;
    gap: 8pt;

    & time {
        font-size: 14px;
        color: #808080;
    }
}

.blog-content {
    padding-block: 15pt;

    & .box-disclaimer {
        margin-top: 40pt;
    }
}
