div.public-layout:has(.login-container) footer {
    margin-top: 0;
}

div.login-container {
    width: 100%;
    height: 100%;
    display: flex;
}

div.login-container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

div.login-container form {
    display: flex;
    flex-direction: column;
    padding: 10pt 20pt;
}

div.login-container form input {
    height: 24pt;
    background-color: var(--background-alt);
    border: 2px solid var(--border-neutral);
    border-radius: 5px;
    outline: none;
    color: white;
    margin-block-start: 5pt;
    margin-block-end: 15pt;
}

div.login-container .signup-link {
    text-decoration: none;
    padding-block: 10pt 4pt;
    padding-inline: 4pt;
    margin-block: 2pt;
    margin-inline: auto;

    border-bottom: 1px solid var(--accent-2);
    text-align: center;

    width: 40%;
    color: var(--accent-2);

    transition: width, color, border-bottom-color, text-shadow;
    transition-duration: 300ms;

    &:hover {
        width: 100%;
        color: var(--accent-1);
        border-bottom-color: var(--accent-1);
        text-shadow: 0 0 5px var(--accent-1);
    }
}
