div.signup-container {
    display: flex;
    flex-direction: column;
    padding: 40pt 20pt;
    width: 100%;
}

form.signupForm {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border: 1px solid #202020;
    padding: 20pt;
    border-radius: 6px;
    max-height: 320pt;

    margin-inline: auto;
}

form.signupForm .formInternal {
    display: flex;
    margin: auto;
    max-width: 600pt;

    gap: 20pt;
}

form.signupForm .formInternal>div {
    display: flex;
    flex-direction: column;
    gap: 8pt;
    height: 100%;
}

form.signupForm button {
    margin-top: 25pt;
    margin-bottom: none;

    background-color: color-mix(in srgb, var(--accent-2), transparent 80%);
    border: 1px solid var(--accent-2);
    padding: 8px;
    border-radius: 6px;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: var(--accent-2);

    transition: background-color, border-color, color;
    transition-duration: 200ms;

    cursor: pointer;

    &:hover:not(.disabled) {
        background-color: color-mix(in srgb, var(--accent-1), transparent 80%);
        border-color: var(--accent-1);
        color: var(--accent-1);
    }

    &.disabled {
        cursor: unset;
        background-color: color-mix(in srgb, grey, transparent 80%);
        border-color: grey;
        color: grey;
    }
}

form.signupForm input {
    background-color: #101010;
    border: 1px solid #202020;
    padding: 6px;
    border-radius: 3px;
    outline: none;
    color: #a0a0a0;
}

form.signupForm label {
    margin: 0;
}

@keyframes errorAnimation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-4px)
    }

    100% {
        transform: translateX(0);
    }
}

div.signup-container>h1 {
    text-align: center;
    padding-block: 0 20pt;
    margin: 0;
}

p.signup-error {
    max-width: 600pt;
    min-height: 1lh;
    margin-inline: auto;
    text-align: center;

    font-size: 1.2em;
    letter-spacing: 1px;
    color: var(--accent-3);

    &.shake {
        animation: errorAnimation 120ms;
        animation-iteration-count: 3;
        animation-timing-function: ease-in-out;
    }
}
